<?xml version="1.0"?>
<plugin>
	<extension id="HermiT.reasoner.factory" point="org.protege.editor.owl.inference_reasonerfactory">
        <name value="HermiT 1.3.8.413"/>
        <label value="HermiT 1.3.8.413"/>
        <class value="org.semanticweb.HermiT.ProtegeReasonerFactory"/>
    </extension>
</plugin>
